@import url(../custom-variables.css);

.description-box-container {
    background-color: white;
    width: 20rem;
    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: var(--menu_padding);
}

#priority {
    grid-column: 1;
    grid-row: 1;
    place-self: start;


}

#status {
    grid-column: 2;
    grid-row: 1;
    padding-left: var(--menu_padding);

}

#date-creation {
    grid-column: 3;
    grid-row: 1;
    place-self: top end;


}

.middle-container {
    display:flex;
    flex-direction: column;
    padding-left: var(--menu_padding);
    padding-right: var(--menu_padding);
}

#read-more {
    color: rgb(0, 85, 255);
}

.bottom-container {
    display: flex;
    justify-content: flex-end;;
    padding-right: var(--menu_padding);
    padding-bottom: var(--menu_padding);

}