.td-container {
    background-color: white;
    width: 7rem;
    height: min-content;
    padding: .3rem;

    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;


}

[id $='td-btn'] {
    width: 100%;
    background-color: white;
}

[id $='td-btn']:hover {
    background-color: #EEEFEF;
}

.positioner {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
    top: -.01rem;
    left: .05rem;
    grid-column: 4;
}