.td-container {
    background-color: white;
    width: 7rem;
    height: min-content;
    padding: .3rem;

    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;

}

[id $='td-btn'] {
    /* color: black; */
    width: 100%;

}