.expanded-container {
    grid-column: 1;
    background-color: #252526;

    display: grid;
    grid-template-rows: 2rem repeat(5, auto) 1fr repeat(2, auto);
    transition: .2s;

}

[id $= '-btn-ex'] {
    text-align: center;
    background-color: #252526;

    height: 2rem;
    font-size: 1rem;
    transition: .2s;

    color: white;

    border: none;


}

[id $= '-btn-ex']:hover {
    background-color: #37373C;
}

[id $= '-btn-ex']:focus {
    background-color: #37373C;
}



#home-btn-ex {
    grid-row: 2 / 3;

}

#today-btn-ex {
    grid-row: 3 / 4;

}

#upcoming-btn-ex {
    grid-row: 4 / 5;

}

#pastdue-btn-ex {
    grid-row: 5 / 6;

}

#projects-btn-ex {
    grid-row: 6 / 7;

}

#account-btn-ex {
    grid-row: 8 / 9;

}

#settings-btn-ex {
    grid-row: 9 / 10;

}