.compact-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #323233;
    width: 3rem;

    display: grid;
    grid-template-rows: repeat(6, 3rem) 1fr repeat(2, 3rem);
}

[id $='side-btn'] {
    height: 2rem;
    place-self: center;
    opacity: .4;
}

[id $='side-btn']:hover {
    opacity: 1;
}


#expand-btn {
    grid-row: 1 / 2;
    height: 2rem;
    place-self: center;
    opacity: .4;

}

#expand-btn:hover {
    opacity: 1;
}

#home-btn {
    grid-row: 2 / 3;

}

#today-btn {
    grid-row: 3 / 4;


}

#upcoming-btn {
    grid-row: 4 / 5;

}

#pastdue-btn {
    grid-row: 5 / 6;


}

#projects-btn {
    grid-row: 6 / 7;


}

#account-btn {
    grid-row: 8 / 9;

}

#settings-btn {
    grid-row: 9 / 10;

}