[id ^='row-'] {
    padding: 0 .5rem 0 .5rem;
}

.due-date-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 .5rem 0 .5rem;

}

#row-due-date {
    grid-column: 1;
    padding: 0;
}

.three-dots {
    grid-column: 2;
    place-self: end;
    position: relative;
}

#row-title {
    white-space: nowrap;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */  

}

#row-title::-webkit-scrollbar {
    display: none;
  }