@import url('../custom-variables.css');

/*NEW TASK WINDOW*/
.new-task-container {
    background-color: aquamarine;
    width: 100%;
    height: 100%;

    border-radius: var(--menu_radius);

}


/*PRIORITY POPUP MENU*/
.priority-popup {
    display: flex;
    flex-direction: column;

    width: 5rem;
    height: min-content;

}

[id *='priority-btn'] {
    width: 100%;
    height: 2rem;
}

#normal-priority-btn {
    background-color: skyblue;
    /*placeholder color*/
}

#high-priority-btn {
    background-color: yellow;
    /*placeholder color*/

}

#urgent-priority-btn {
    background-color: red;
    /*placeholder color*/

}