.projects-card-container {
    /* height: 10rem; */
    height: auto;
    background-color: dodgerblue;

    display: grid;
    grid-template-rows: repeat(3, auto);

    color: white;

}

.expand-arrow {
    cursor: pointer;
}

.projects-card-container {
    padding: .5rem;
    object-fit: cover;
}

#card-top-container,
#card-bottom-container {

    font-size: larger;
    font-weight: 700;

}

.mid-title {
    text-decoration: underline;
}

#card-bottom-container {
    z-index: 1;

    display: flex;
    justify-content: end;
    align-items: flex-end;
}