.project-description {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}

.projects-card-container {
    /* height: 10rem; */
    height: auto;
    background-color: #A074C4;
    /* background-color: dodgerblue; */

    display: grid;
    grid-template-rows: repeat(3, auto);

    color: white;

}

.expand-arrow {
    cursor: pointer;
}

.projects-card-container {
    padding: .5rem;
    object-fit: cover;
}

#card-top-container {
    display: grid;
    grid-template-columns: 1fr auto;
}

#trash-btn {
    place-self: center;
    cursor: pointer;

    background-image: url(../src/images/icons/trash.svg);
}

#card-top-container,
#card-bottom-container {

    font-size: larger;
    font-weight: 700;

}

.mid-title {
    text-decoration: underline;
}

#card-bottom-container {
    z-index: 1;

    display: flex;
    justify-content: end;
    align-items: flex-end;
}