.project-popout-container {
    position: absolute;
    width: 60vw;
    background-color: orange;
    z-index: 5;
    place-self: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.top {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}

.middle {
    border: 1px solid black;
    background-color: cyan;
    display: grid;
    grid-template-rows: auto 1fr;

}

.description-wrapper {
    border: 1px solid black;

}

.description {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}

.project-tasks-wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr;
    border: 3px dotted red;
    min-height: 30rem;
    max-height: calc(100vh - 19rem);

}

.project-task-header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between
}

#project-tasks-container {
    border: 1px solid black;
    background-color: white;
    overflow-y: scroll;
    color: black;

}

.bottom {
    height: auto;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;

}

#row-header {
    display: grid;
    grid-template-columns: 3rem 1fr 4rem 8rem;
    padding: 0;
    /* height: 2rem; */
}

#row-header > div {
    padding: 0 .5rem 0 .5rem;
}