.projects-card-container {
    height: 10rem;
    height: auto;
    background-color: dodgerblue;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.projects-card-container {
    padding: .5rem;
}

#card-bottom-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#card-middle-container {
    height: auto;
}
