*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
}

html,
body {
    height: 100vh;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/*----------------------------------*/


body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    background-color: #323233;

}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #323233;
    height: 4rem;

    display: grid;
    grid-template-columns: auto 1fr auto 4rem;
    grid-template-rows: 1fr;

}

/* .compact-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #323233;
    width: 4rem;

    display: grid;
    grid-template-rows: repeat(6, auto) 1fr repeat(2, auto);
} */

#content {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    background-color: #1E1E1E;

    /* place-content: center; */
    /* padding: 2rem; */ /*FIGURE OUT WHAT TO DO WITH THIS PADDING. DEACTIAVTED FOR NOW*/

}

/* [id $= '-btn'] {
    height: 2rem;
} */